.header {
  height: 7.5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background: rgba(37, 33, 47, 0.2);
  box-shadow: 0 13px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.search-bar {
  height: 60%;
  min-width: 35%;
  position: relative;
}

.search-input {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 50px;
  color: black;
  padding: 0 1rem;
  font-size: 1.3rem;
}

.search-icon {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-size: 1.3rem;
}

.login-sign-in-buttos {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.5rem;
}

.login {
  color: #B6DDF7;
}

.sign-in {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: 2.5px solid var(--glow-color);
  padding: 1em 2em;
  color: var(--glow-color);
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.sign-in:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
    cursor: pointer;
}

.sign-in:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}


.sign-in:hover {
  box-shadow: 0px 0px 10px 3px #9c88ff;
}
